.window {
    padding: 1rem;
    border-radius: 6px;
    transition: 0.15s background-color ease-in-out;

    &.focused {
        background-color: #5c5c5c;
    }

    &:not(.focused):hover {
        background-color: #3d3d3d;
    }
}
